.experience__frontend {
  margin-top: 3.5rem;
}
.skills-rates {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.skills-rates .progress {
  width: 95%;
  background-color: #eeeeee;
  height: 1.8rem;
  margin: 2rem 0;
  position: relative;
  border-radius: 1rem;
}
.skills-rates .progress span:first-of-type {
  position: absolute;
  left: 0;
  border-radius: 1rem;
  bottom: 0;
  height: 100%;
  background-color: var(--color-primary-variant);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.skills-rates .progress label {
  position: absolute;
  left: 0;
  top: -150%;
  color: var(--color-white);
  font-weight: bold;
}
.progress__icon {
  position: absolute;
  left: 50%;
  top: -3.5rem;
  font-size: 3rem;
  transform: translateX(-50%);
}

.skills-rates .progress .counter {
  position: absolute;
  width: 5%;
  font-size: 0.8rem;
  top: -150%;
  right: 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0.1rem;
  color: var(--color-white);
}
/*========= MEDIA QUERIES (MEDIUM) =========*/
@media screen and (max-width: 1024px) {
  .skills-rates .progress {
    height: 1.2rem;
  }
}
/*========= MEDIA QUERIES (SMALL) =========*/
@media screen and (max-width: 600px) {
}
